NODE_ENV=

PORT=

APP_NAME=

APP_URL=

API_PREFIX=

API_VERSION=

DB_HOST=

DB_PORT=

DB_DATABASE=

DB_USERNAME=

DB_PASSWORD=

JWT_SECRET=

JWT_EXPIRES_IN=

JWT_REFRESH_SECRET=

JWT_REFRESH_EXPIRES_IN=

RESEND_API_KEY=

UPLOAD_PATH=

LOG_LEVEL=